mat-toolbar {
    display: flex;
    justify-content: space-around;    
    align-items: center;    
}
a {
    padding: 10px;
    margin: 0 20px;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

mat-icon {
    outline: 0;
}

mat-icon:hover {
    cursor: pointer;
}

a:hover {
    background-color: #475ac1;
    padding: 10px;
    border-radius: 3px;
    transition: ease 300ms;
}
