<section>
    <aside>
        <h2 class="aside-title">Githubs</h2>
        <nav class="nav-aside">
            <a [routerLink]="['git']">Repositórios</a>
            <a [routerLink]="['coin']">Coin</a>
        </nav>
    </aside>
    <main class="container-fluid">
        <h2 class="title">Equipe</h2>
        <div class="row">
            <div class="card" class="card p-2 mt-2 ml-2 mr-2 center">
                <div class="card-body">
                    <h5 class="card-title"><h2>Eliude Lima</h2></h5>
                    <p class="card-text">Profissão: <b>Professora</b><br>Hobbyes: <b>Leitura</b></p>
                </div>
            </div>
            <div class="card" class="card p-2 mt-2 ml-2 mr-2 center">
                <div class="card-body">
                  <h5 class="card-title"><h2>Pedro R. Fischer Filho</h2></h5>
                  <p class="card-text">Profissão: <b>Desenvolvedor</b><br>Hobbyes: <b>Jiu Jitsu</b>, <b>Corrida</b>, <br><b>Tiro Desportivo</b></p>
                </div>
              </div>
              <div class="card" class="card p-2 mt-2 ml-2 mr-2 center">
                <div class="card-body">
                  <h5 class="card-title"><h2>Weskley Santos</h2></h5>
                  <p class="card-text">Profissão: <b>Estagiário</b><br>Hobbyes: <b>Ver Filmes</b></p>
                </div>
              </div>
        </div>
    </main>
</section>