
<section>
  <main>
    <div class="flex">
      <div class="card" class="card p-2 mt-2 ml-2 mr-2 center">
        <div class="card-body">
          <img class="card-img-top" src="../../assets/profile-images/pedro.png" alt="Card image cap">
          <h6 class="card-title text-center"><h2>Pedro Fischer</h2></h6>
          <p class="card-text text-center"><b>Ocupação:</b> Programador </p>
          <p class="card-text text-center"><b>Hobbies:</b> Jiu Jitsu, Corrida, Tiro Desportivo </p>
          
        </div>
      </div>
      <div class="card" class="card p-2 mt-2 ml-2 mr-2 center">
        <div class="card-body">
          <img class="card-img-top" src="../../assets/profile-images/foto.jpg" alt="Card image cap">
          <h6 class="card-title text-center"><h2>Eliude Lima</h2></h6>
          <p class="card-text text-center"><b>Ocupação:</b> Professora </p>
          <p class="card-text text-center"><b>Hobbies:</b> Leitura </p>
        </div>
      </div>
      <div class="card" class="card p-2 mt-2 ml-2 mr-2 center">
        <div class="card-body">
          <img class="card-img-top" src="https://scontent.fssz1-1.fna.fbcdn.net/v/t1.0-9/83586854_2109921572443790_4371606980192632832_o.jpg?_nc_cat=103&_nc_sid=09cbfe&_nc_ohc=kq0L8hsY4X4AX_IEk7r&_nc_ht=scontent.fssz1-1.fna&oh=07b4e9727c4f5724b3adb55e9e9c31d4&oe=5EE880AA" alt="Card image cap">
          <h6 class="card-title text-center"><h2>Weskley Santos</h2></h6>
          <p class="card-text text-center"><b>Ocupação:</b> Estagiário </p>
          <p class="card-text text-center"><b>Hobbies:</b> Ver Filmes </p>
        </div>
      </div>
    </div>

    <footer>
      <p>Todos os direitos reservados 2020</p>
    </footer>
  
  </main>
  
</section>