
<section>
  <aside>
    <h2 class="sub-title">Equipe</h2>
    <a (click)="getRepo('PedroFischerDeveloper')" >Pedro</a>
    <a (click)="getRepo('EliudeLima')" >Eliude</a>
    <a (click)="getRepo('WeskleySantos')" >Weskley</a>
  </aside>
  <main>
    <div class="card" class="card p-2 mt-2 ml-2 mr-2 center">
      <div class="card-body">
        <h6 class="card-title text-center"><h2>{{this.topName || 'Selecione um usuário no canto esquerdo'}}</h2></h6>
      </div>
      <ul class="list-group" *ngFor="let data of this.currentData">

        <li class="list-group-item">
        
          <b>REPO:  </b> {{data.name || 'Nome não encontrado'}}<br>
          <b>STARTS:  </b> <span class="badge badge-primary badge-pill">{{data.stargazers_count || 'Sem avaliação'}} </span><br>
          <b>DESCRIPTION:</b> {{data.description || 'Sem descrição'}}<br>
          
        </li>
        
      </ul>
    </div>

    <footer>
      <p>Todos os direitos reservados 2020</p>
    </footer>
  
  </main>
  
</section>